{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block main %}
<div class="profile">
<img class="pic" src="{{ url_for('static', filename = filename) }}" alt="{{username}}">
<p class="profilep"> Name: {{ user.firstname }} {{ user.lastname }} </p>
  <br><br>
<p class="profilep">Created: {{ user.profile_add_on }}</p>
<p class="profilep">Username: {{ user.username }}
  <br>ID: {{ user.userid }}
  <br>Age: {{ user.age }}
  <br>Sex: {{ user.gender }}
  <br>Highest Score: {{ user.score }}
  <br>TDollars: ${{ user.tdollars }}
</p>
</div>
{% endblock %}